.main {
  padding-top: 5rem;
}

.login-container {
  background: #f2fffe;
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.16);
  padding: 4.5rem 2.5rem;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
