.nav-bar {
  position: fixed;
  background: #f2fffe;
  height: 100%;
  width: 14rem;
  z-index: 100;
  margin-top: 4rem;
  overflow: auto;
}

.sidebar {
  width: 100%;
  height: 100%;
  margin-left: 0;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  border-right: 1px solid #001e1b;
}

.main-appointments {
  border-radius: 1rem;
  padding: 0.5rem;
  width: calc(100% - 16rem);
  height: 100vh;
  margin-left: 15rem;
  padding-top: 5rem;
}

.appointments-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.appointments-list {
  width: 100%;
  padding: 0 1.5rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.nextui-c-PJLV-ieGWYFU-css {
  margin: 0;
}
