.box_info {
    display: flex;
    flex-direction: row;
}

.box_info_person {
    flex: 1;
}

.box_info_appointment {
    flex: 1;
}

.renderData {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttons_actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}