.topbar-header {
  /* position: fixed; */
  top: 0;
  width: 100%;
  z-index: 101;
  background: #f2fffe;
  /*
  min-height: 4rem;
  width: 100%;
  z-index: 101;
  margin-top: 0; */
}

.topbar {
  border-bottom: 1px solid #b3b3b3;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /* position: fixed; */
  /* width: 100%;
  height: 4rem;
  z-index: 101;
  overflow: auto; */
}

.topbar__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topbar__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo_img {
  width: 100px;
  height: 50px;
  object-fit: contain;
}