* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff;
}

.container_menu_dashboard {
  display: flex;
  flex-direction: row;
  height: 92vh;
  width: 100%;
}

.dashboard {
  width: 80%;
  padding: 10px;
}

.nextui-c-eXOOPO {
  border-radius: 8px;
  background: #fff;
}

.border_generic {
  border-width: thin;
  border-color: red;
  border-style: solid;
}

.container {
  padding: 20px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.center {
  align-items: center;
}

.flex-start {
  align-items: flex-start;
}

.flex-end {
  align-items: flex-end;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-size {
  width: 100%;
  height: 100%;
}

.react-date-picker {
  z-index: 9999;
}

.react-date-picker__wrapper {
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 2px #eaeaea;
  font-size: 0.875rem;
  min-width: 18.75rem;
}

.react-date-picker__wrapper:hover {
  cursor: pointer;
  box-shadow: 0 0 0 2px #028174;
}

.react-date-picker__wrapper:focus {
  box-shadow: 0 0 0 2px #028174;
}
