* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff;
}

.nextui-c-eXOOPO {
  border-radius: 8px;
  background: #fff;
}

.border_generic {
  border-width: thin;
  border-color: red;
  border-style: solid;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.center {
  align-items: center;
}

.flex-start {
  align-items: flex-start;
}

.flex-end {
  align-items: flex-end;
}

.justify-content-center {
  justify-content: center;
}
